backend/dist
backend/node_modules
.idea
vagrant/.vagrant
vagrant/disk-*.vdi
vagrant/disks/
**/*.lock
*.lock
**/*.tgz
*.tgz
kubeadm-join-command.sh
/vagrant/vagrantfile
SSH.private.txt
ssh.public.txt
GEMINI.md
digest.txt
vagrant/Vagrantfile
*.gitkeep